<div class="navbar">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="../">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../goodthings/new">Create New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../goodthings/all">View All</a>
  </li>
</ul>
  <span class="navbar-text">
    <%= username %>
  </span>  
</div>